body {
  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: tomato;
/* apply styles to <header> */
<header> {
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }
  }
  
  header a {
    color: #fce138;
  }
  padding: 20px 35px;
  background-color: #39a6b2; </header>
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
* {
  margin: 0;
  padding: 0;
}<div>
<a href="#">Read Our Privacy Policy</a><br />
&copy; 2019 Run Buddy, Inc.
</div>
